/*
Nifty Nav
By Eric Stout / Factor1
http://factor1studios.com
*/

// Easily set your styles here using sass variables

// panel options
$panel-color: rgb(229, 229, 229);
$panel-top-distance: 80px;

// mask options
$mask-color:	rgba(0,0,0,0.62);

// hamburger options
$hamburger-color: rgb(171,171,171);

body,html{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

header{
z-index: 9999;
}

.nifty-panel{
position: relative;
width: 100%; /*you could have different widths if you want, but 100% is most common*/
border: 0px;
padding: 0;	
background: $panel-color;	
color: white;
top: $panel-top-distance;
display: none;
z-index: 9999;
overflow: scroll;
margin-bottom: 0;
padding-bottom: 0;
-ms-overflow-style: none; /* hides the scrollbars for Internet Explorer on the panel */
}

.nifty-mask{
background: $mask-color;
height: 100%;
width: 100%;
z-index: 9998;
position: fixed;
top:0;	
opacity: 0;
}

//animated hamburger styles
#nifty-nav-toggle{
width: 30px;
height: 40px;
display: block;
background: none;
position: absolute;
top: 2px;
right: 0px;
transition: all .3s ease;
}

#nifty-nav-toggle span, #nifty-nav-toggle span:before, #nifty-nav-toggle span:after {
cursor: pointer;
border-radius: 1px;
height: 3px;
width: 30px;
background: $hamburger-color;
position: absolute;
top: 21px;
right: 0px;
display: block;
content: '';
}
#nifty-nav-toggle span:before {
top: -8px;
}
#nifty-nav-toggle span:after {
bottom: -8px;
top: 8px; 
}

// this is where the animation magic happens
#nifty-nav-toggle span, #nifty-nav-toggle span:before, #nifty-nav-toggle span:after {
transition: all 500ms ease-in-out;
}
#nifty-nav-toggle.nifty-active span {
background-color: transparent;
}
#nifty-nav-toggle.nifty-active span:before, #nifty-nav-toggle.nifty-active span:after {
top: 0;
}
#nifty-nav-toggle.nifty-active span:before {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
#nifty-nav-toggle.nifty-active span:after {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
#nifty-nav-toggle:hover{
opacity: .5;
}